.photo-header {
  position: relative;
  height: 200px; /* Ajustez cette valeur en fonction de la taille de votre photo */
  margin-bottom: 20px; /* Ajoutez une marge en dessous du conteneur de la photo */
}

.photo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* src/index.css */
:root {
  --bg-color: #282c34;
  --primary-color: #61dafb;
  --secondary-color: #528bff;
  --text-color: #abb2bf;
  --white: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: var(--primary-color);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

section {
  background-color: #383e4a;
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

section:hover {
  transform: translateY(-5px);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #3d70b2;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}

li::before {
  content: '•';
  position: absolute;
  left: 0;
  color: var(--primary-color);
}

.photo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info a,
.contact-info p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-info svg {
  margin-right: 10px;
  color: var(--secondary-color);
}

/* src/index.css */
@media (max-width: 768px) {
  .photo-header {
    height: 150px; /* Ajustez cette valeur pour les écrans de petite taille */
  }

  .photo {
    width: 100px;
    height: 100px;
    top: 10px;
    left: 10px;
  }
}